@model FireDeptProject.Models.Unit

@{
    ViewData["Title"] = "Unit Details";
}

<div class="text-white">
    <h1 class="mb-4">Unit Details</h1>

    <div class="bg-dark p-4 rounded shadow">
        <h4 class="text-warning mb-3">Unit Information</h4>
        <hr class="border-light" />

        <dl class="row">
            <dt class="col-sm-3 text-light">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-3 text-light">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>
        </dl>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">✏️ Edit</a>
        <a asp-action="Index" class="btn btn-outline-light">← Back to List</a>
    </div>
</div>
